<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Servlet</display-name>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>servlet.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Servlet</url-pattern>
  </servlet-mapping>
  <display-name>FullStackApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Authorizer</display-name>
    <servlet-name>Authorizer</servlet-name>
    <servlet-class>servlet.Authorizer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authorizer</servlet-name>
    <url-pattern>/Authorizer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Remover</display-name>
    <servlet-name>Remover</servlet-name>
    <servlet-class>servlet.Remover</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Remover</servlet-name>
    <url-pattern>/Remover</url-pattern>
  </servlet-mapping>
</web-app>